.Form {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
    background-image: url("/public/images/fundo.png");
}

.Form form {
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: /*top&bottom:*/36px /*left&right:*/64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}