/*
    @NOTE: O css importado vale para toda a aplicação, e não apenas para o componente.
            Então um seletor genérico poderia afetar outros componentes.
*/

.team {
    text-align: center;
    background-color: #d9f7e9;
    padding: 32px;
}

.team h3 {
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
}

.team .players {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}